body{
    background-color: white;
    font-size: 15px;
    text-align: center;
}

.check{
    
}

.main-section{
    text-align: center;
}

.top-section{
    color: lightskyblue;
    font-size: 20px;
}

.middle-section{
color: lightgray;
}

button{
    color: white;
    background-color: blue;
    border: none;
    border-radius: 2px;
}