{% extends 'base.html' %} 

{% load static %}



<title>{% block title %}Login{% endblock %}</title>



{% block css %}

<link rel="stylesheet"  href="{% static 'css/login.css' %}" /> 



{% endblock %}





{%block navbar%} {% endblock %}

{% block content %} 

<main>

  <div class="box">

      <div class="inner-box">



   <div class="forms-wrapper">

    <form method="post" action="" role="form">

    {% csrf_token %}

      <div class="heading">

        <p class="big">Login to continue</p>

        

    </div>

    

    <div class="card-box">

        <span class="details">E-mail Address</span>

        <div class="test">

          {{ form.username }}

            <i style="position: absolute; margin-right: 15px;" class="fa-regular fa-envelope"></i>

        </div>

        

    </div>

    <div class="card-box">

        <span class="details">Password</span>

        <div class="test">

          {{ form.password }}

            <span class="eye" onclick="myFunction()">

                <i id="hide1" class="fa-regular fa-eye"></i>

                <i id="hide2" class="fa-regular fa-eye-slash"></i>

        </span>

        </div>

    </div>

    <div class="remember-me">

      <span>

        <input type="checkbox" name="Remember me" id="Remember-me">

        <label class="reminder" for="Remember-me">Remember me</label>

      </span>

        <a href="{% url 'password_reset' %}">Forgot password?</a>

    </div>

    <div class="button">

      {% if form.errors %}

      <div >

        <div>

          <span class='errorlist'>Your username or password did not match.</span>

        </div>

      </div>

      {% endif %}

        <input type="submit" value="Login">

        <input type="hidden" name="next" value="{{ next }}">

    </div>



    <div class="or">

        <p>or</p>

    </div>



    <a class="google_text google_content" href="{% url "google_login" %}">

        <img class="google" src="{% static 'img/flat-color-icons_google.png' %}" alt="">

        <span>Log in with Google</span>

    </a>

    <div class="buttom-text">

        <p class="text">

            Don't have an account?

            <a href="{% url 'django_registration_register' %}">Signup</a>

        </p>

    </div>

    </form>

  </div>

   

  <div class="picture-side">

      <div class="logo">

        <a href="{% url 'index' %}"><img src="{% static 'svg/Horizontal_Logo.svg' %}" alt=""><a>

      </div>

      <div class="heading-right">

          <p>Welcome back.</p>

      </div>

      <div class="image">

          <img class="dots" src="{% static 'signup-img/25332_[Converted]_1.png' %}" alt="">

          <img class="man" src="{% static 'img/Man_chatting_on_dating_site.png' %}" alt="">

          <img class="pattern" src="{% static 'signup-img/Patter_Bg.png' %}" alt="">

        </div>

      </div>

  </div>

</div>

</main>

<script>
  const checkbox = document.querySelector("input[name='check-box']");
  const body = document.querySelector(".big-wrapper");
  checkbox.addEventListener("click", () => {body.classList.toggle("bg-dark");});
function myFunction() {
  var x = document.getElementById("id_password");
  var y = document.getElementById("hide1");
  var z = document.getElementById("hide2");

  if (x.type === "password") {
    x.type = "text";
    y.style.display = "block";
    z.style.display = "none";
  } else {
    x.type = "password";
    y.style.display = "none";
    z.style.display = "block";
  }
}
</script>






{% endblock %}



{% block footer %}

{% endblock %}

  
  