

   {% extends 'base.html' %} 

   {% load static %}

   <title>{% block title %}Password Reset{% endblock %}</title>

   {% block css %}<link rel="stylesheet"  href="{% static 'css/forgot-password.css' %}" /> {% endblock %}

   

   

   {%block navbar%} {% endblock %}

   {% block content %} 

      

   

   <div class="field-container">



    <div class="imgcontainer">

        <img src="{% static 'img/speech_bubble_with_padlock_inside.png' %}" height="200" width="180">

    </div>

    <h2>Forgot password ?</h2>

    <p>Don't worry, we will send you password reset instructions.</p>



    <div class="container">

    <form method="post" action="" role="form" >

    {% csrf_token %}

    {{ form.id }}

   

    <label for="Password">E-mail Address</b></label>

    {{ form.email }}

    <i class="bi bi-envelope" id="togglePassword"></i>



        <div >

          <span>{{ form.errors }}</span>

        </div>



      <button style="cursor: pointer;"  type="submit" name="action">Reset Password</button>

    </form>

  </div>

</div>



{% endblock %}

{%block footer %}

{%endblock%}
