

   {% extends 'base.html' %} 

   {% load static %}

   <title>{% block title %}Password Reset{% endblock %}</title>

   {% block css %}<link rel="stylesheet"  href="{% static 'css/forgot-password.css' %}" /> {% endblock %}

   

   

   {%block navbar%} {% endblock %}

   {% block content %} 

      

<div class="field-container">



	<div class="imgcontainer">
		<img src="{% static 'img/opened_envelope.png' %}" height="200" width="250">

	</div>

	<h2>Reset link sent to email</h2>

	<p>We have sent an email to <b> {% if request.user.is_authenticated %}{{ request.user.username }} {% endif %}</b> addressand reset  <br> 

		your password. The link in the email will expire in 24 hours. 
		<a style="color: black"; target="_blank" href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox">Click me to open your mail</a>

	</p>

	

	<p>

		<a href="{% url 'password_reset' %}"> Click here</a> if you did not recelve an email or would like to change <br>

		 the email address you signed up with.

	</p>



</div>

{% endblock %}

{%block footer %}

{%endblock%}
