{% extends 'base.html' %}
{% load static %}

        
{% block content %}

<div >
    <form method="post" action="" role="form" >
    {% csrf_token %}
    {{ form.id }}
    <h3>Forgot password</h3>
      <div >
        <div >
          {{ form.email }}
          <label for="email">Email</label>
        </div>
      </div>
      <div >
        <div >
          <span>{{ form.errors }}</span>
        </div>
      </div>
      <button  type="submit" name="action">Request Code</button>
    </form>
  </div>

{% endblock %}