{% extends 'base.html' %}
{% load static %}

        
{% block content %}

<div >
    <form method="post" action="" role="form" >
    </h3>
      <div >
        {% csrf_token %}
        {{ form.id }}
        <h3>Set a new password</h3>
      </div>
      {% if validlink %}
        <div >
        <div>
          {{ form.new_password1 }}
          <label for="new_password1">New password</label>
        </div>
      </div>
      <div >
        <div>
          {{ form.new_password2 }}
          <label for="new_password1">Re-type password</label>
        </div>
      </div>
      {% else %}
      <div >
        <div >
          <span >The password reset link was invalid, it has alredy been used. Please request a new one.</span>
        </div>
      </div>
      {% endif %}
      <button type="submit" name="action">Change Password</button>
    </form>
  </div>

{% endblock %}