{% extends 'base.html' %} 

{% load static %}

<title>{% block title %}Reset Password{% endblock %}</title>

{% block css %}<link rel="stylesheet"  href="{% static 'css/password-changed.css' %}" /> {% endblock %}





{%block navbar%} {% endblock %}

{% block content %} 

<div class="field-container">



	<div class="imgcontainer">
		<img src="{% static 'img/wgewrnet.png' %}" height="229" width="232">

	</div>

	<h2>Congratulations, your password <br> has been successfully reset</h2>

	<p>

		Thank you for your support, we have successtuly verified your email <br> address. 

		You can now proceed to the home page. 

	</p>

	

		<button type="submit" class="text-center"> <a href="{% url 'login' %}"> Log in </a> </button>

	  

</div>

{% endblock %}



{%block footer %}

{%endblock%}
