body {

    margin: 0 auto;

    padding: 0;

    font-family: Arial, Helvetica, sans-serif;    

}

input[type=text] {

    width: 100%;

    padding: 5px 5px;

    margin: 8px 0;

    display: inline-block;

    border: 2px solid #535353;

    box-sizing: border-box;

    background-color: #373737;

    color: #E1E1E1;
    

}

input:focus{
color: #E1E1E1;
border: 2px solid #1A75BB; 

}

input{
    border: none;
    outline-style: none;
    border-radius: 4px;
}

label{

    color: #E1E1E1;

}

button {

    background-color: #1B6198;

    color: white;

    padding: 10px 10px;

    margin: 8px 0;

    border: none;

    width: 100%;

}

.imgcontainer {

    text-align: center;

}

.field-container {

    background-color: #141411;

    margin: 0 auto;

    width: 100%;

    padding: 30px;

    justify-content: center;

    align-items: center;

    position: absolute;

    border: none;

    height: 100vh;

}

.container {

    padding: 5px;

    width: 350px;

    justify-content: center;

    margin: 0 auto;

    

}

@media (min-width: 400px) and (max-width: 700px) {

    .field-container {

        flex-direction: column;        

    }

    

@media (max-width: 700px){

        .container{

            min-width: 300px;

        }

    }

}

input:focus::-webkit-input-placeholder {

    color: transparent;

}

h2{

    text-align: center;

    font-family: sans-serif;

    font-weight: 700;

    font-style: normal;

    font-size: 30px;

    line-height: 40px;

    letter-spacing: -0.02em;

}

p{

    color: #C4C4C4;

    text-align: center;

    font-family: sans-serif;

    font-weight: 400;    

    font-size: 15px;

    line-height: 25px;

}

h2 {

    color:#1A75BB;

    

}

form {

    max-width: 65em;

    margin: 5px;

}

form i {

    margin-left: -30px;

    cursor: pointer;

    color: #A6A6A6;

}
