@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Poppins:wght@400;500;600;700&family=Work+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    margin: 0 auto;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

input[type=text] {
    width: 100%;
    padding: 5px 5px;
    display: inline-block;
    border: 2px solid #ccc;
    box-sizing: border-box;
    border-radius: 4px;
    margin-bottom: 24px;
}
h2 {
    text-align: center;
    font-family:;
    font-weight: 700;
    font-style: normal;
    color: #408CC6;
    font-size: 45px;
    line-height: 50px;
    letter-spacing: -0.02em;


}

button {
    background-color: #56CCF2;
    color: white;
    padding: 10px 10px;
    margin: 8px 0;
    border: none;
    width: 100%;
    border-radius: 4px;
}

.imgcontainer {
    text-align: center;
    
}
label[for=Password]{
/* font-family: 'Work Sans'; */
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 28px;
color: #373737;

}
.field-container {
    background-color: #FEFEFE;
    margin: 0 auto;
    width: 100%;
    padding: 30px;
    justify-content: center;
    align-items: center;
    position: relative;
    border: none;

}


.container {
    padding: 5px;
    width: 350px;
    justify-content: center;
    margin: 0 auto;
    

}


@media (min-width: 400px) and (max-width: 700px) {
    .field-container {
        flex-direction: column;        
    }
    
    @media (max-width: 500px){
        .container{
            min-width: 300px;
        }
    }
}

input:focus::-webkit-input-placeholder {
    color: transparent;

}

h2 {
    text-align: center;
    font-family: sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #408CC6;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: -0.02em;


}

p {
    color: #8A8A8A;
    text-align: center;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;

}

h2 {
    color: #408CC6;

}

form {
    max-width: 65em;
    margin: 5px;
}

form i {
    margin-left: -30px;
    cursor: pointer;
}