body {
    margin: 0 auto;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

input[type=text] {
    width: 100%;
    padding: 5px 5px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #535353;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #373737;
}

button {
    background-color: #1A75BB;
    color: #cacaca;
    padding: 10px 10px;
    margin: 8px 0;
    border: none;
    width: 100%;
    border-radius: 4px;
    font-family: sans-serif;
    font-size: small;
}

.imgcontainer {
    text-align: center;
}

.field-container {
    background-color: #141414;
    margin: 0 auto;
    width: 100%;
    padding: 30px;
    justify-content: center;
    align-items: center;
    position: relative;
    border: none;
    height: 100vh;
}

.container {
    padding: 5px;
    width: 350px;
    justify-content: center;
    margin: 0 auto;
    

}


@media (min-width: 400px) and (max-width: 700px) {
    .field-container {
        flex-direction: column;        
    }
    
    @media (max-width: 500px){
        .container{
            min-width: 300px;
        }
    }
}

input:focus::-webkit-input-placeholder {
    color: transparent;

}

h2 {
    text-align: center;
    font-family: sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #1A75BB;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: -0.02em;


}

p {
    color: #C4C4C4;
    text-align: center;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;

}

label{
    color: #E1E1E1;
}

h2 {
    color: #408CC6;

}

form {
    max-width: 65em;
    margin: 5px;
}

form i {
    margin-left: -30px;
    cursor: pointer;
}