@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Poppins:wght@400;500;600;700&family=Work+Sans:wght@400;700&display=swap");

:root {
  --blue: #408cc6;
  --light-blue: #01aefd;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Work Sans";
  font-size: 400;
}
header {
  background-color: var(--blue);
  padding: 50px 30px;
}
a {
  color: var(--light-blue);
}
.navbar-section {
  padding: 7px 12px 10px;
}
.section-1 {
  margin-top: 70px;
  height: fit-content;
}
.main-container {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 40px;
  margin-top: 10px;
}
hr {
  width: 92%;
}
.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-2 {
  margin: 60px 0;
}
.button-container {
  padding-top: 15px;
}
@media screen and (max-width: 720px) {
  .datetime {
    padding: 0 10px;
  }
  .issues {
    padding: 0 10px;
  }
}
button {
  background-color: white;
  box-shadow: 5px 10px 20px -10px;
  border: 5px solid white;
  border-left: 1px solid black;
  filter: brightness(100%) opacity(1);
  cursor: pointer;
  transition: 2s ease;
}
.less-than-button {
  border-left: none;
}
button:hover {
  background-color: var(--blue);
}
.btn-9,
.btn-10,
.btn-eliceps-1 {
  display: none;
}
.display-none {
  display: none !important;
}


