


*,
*::before,
*::after {
  box-sizing: border-box;
}



/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}


/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}
.errorlist{
    color: red;
    list-style: none;
}

input[type=email]::-webkit-input-placeholder::before {
    content: "name@gmail";
}


/*Styling of the Footer starts here*/
footer {
  width: 100%;
  height: 100%;
  background: url("footer_bg_img/footer_bg.png");
}
.footer-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.footer-container .resourses {
  align-items: center;
  margin: 50px 50px;
  flex-direction: column;
}
.footer-container .resourses img {
  height: 57px;
  width: 206px;
  margin-bottom: 15px;
}
.footer-container .resourses h6 {
  width: 269px;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
}
.footer-container .resourses p {
  width: 234px;
  font-size: 20px;
  font-weight: 400;
  text-align: left;
  line-height: 20px;
  padding: 7px 0;
  color: #ffffff;
}
.footer-container .resourses li,
.footer-container .resourses li a {
  text-align: center;
  padding: 7px 0;
  font-size: 16px;
  font-weight: 400;
  width: 269px;
  list-style: none;
  text-decoration: none;
  color: #ffffff;
}
.footer-txt {
  width: 100%;
  margin: auto;
}
.footer-txt p,
.footer-txt p a {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  margin: 15px auto;
  color: #ffffff;
  text-decoration: none;
}
footer .social {
  width: 100%;
  flex-wrap: wrap;
}
footer .social .icons {
  margin: 20px 10px;
  display: flex;
  flex-direction: row;
}
footer .social .icons i {
  font-size: 25px;
  color: #408cc6;
  background-color: #ffffff;
  padding: 5px;
  cursor: pointer;
  border-radius: 2px;
}
/*This is the css for scroll-to-top button*/
.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 0;
  border: none;
  background: url("footer_bg_img/Scroll_Back_To_Top.png");
  border-radius: 0px 0px 0px 0px;
  background-size: 100%;
  cursor: pointer;
  margin-bottom: 15px;
  opacity: 0.9;
}
.scrolltopbtn {
  height: 60px;
  width: 60px;
}
/*This is the styling of the mobile view/responsiveness of the footer*/
@media (max-width: 720px) {
  .footer-txt {
    width: 100%;
    margin: auto;
  }
  .footer-container .resourses {
    display: flex;
    margin: 10px auto;
  }
  .footer-container {
    padding-top: 50px;
  }
  .footer-txt p {
    font-size: 16px;
    margin: 15px 20px;
  }
  .resourses {
    padding: 20px;
  }
}


.toast-wrapper{
  width: 420px;
  padding: 30px 20px;
  position: absolute;
  bottom: 50px;
  right: 0;
  overflow: hidden;
  font-family: 'Work Sans';
  font-size: 14px;
  bottom: 80%;
}
#show-alert-success{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    background-color: #56CCF2;
    color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
  
}
#close-success {
  border: none;

}
#toast-success{
    width: 380px;
    height: 80px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 10px 20px rgba(75, 50, 50, 0.05);
    border-left: 8px solid #56CCF2;
    border-radius: 7px;
    display: grid;
    grid-template-columns: 1.2fr 6fr 0.5fr;
    transform: translate(400px);
    transition: 1s;
    
}
.container-success,.container-success{
    align-self: center;
}
.container-success i{
    font-size: 40px;
    color: #56CCF2;
}
.container-success p:first-child{
    color: #101020;
    font-weight: 600;
    font-size: 16px;
}
.container-success p:last-child{
    font-size: 12px;
    color: #656565;
    font-weight: 400;
}
#toast-success button{
    align-self: flex-start;
    background-color: transparent;
    font-size: 25px;
    line-height: 0;
    color: #656565;
    cursor: pointer;
}


#show-alert-error{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    background-color: #56CCF2;
    color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
  
}
#close-error {
  border: none;

}
#toast-error{
    width: 380px;
    height: 80px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 10px 20px rgba(75, 50, 50, 0.05);
    border-left: 8px solid #E11D25;
    border-radius: 7px;
    display: grid;
    grid-template-columns: 1.2fr 6fr 0.5fr;
    transform: translate(400px);
    transition: 1s;
    
}
.container-error,.container-error{
    align-self: center;
}
.container-error i{
    font-size: 40px;
    color: #E11D25;
}
.container-error p:first-child{
    color: #101020;
    font-weight: 600;
    font-size: 16px;
}
.container-error p:last-child{
    font-size: 12px;
    color: #656565;
    font-weight: 400;
}
#toast-error button{
    align-self: flex-start;
    background-color: transparent;
    font-size: 25px;
    line-height: 0;
    color: #656565;
    cursor: pointer;
}