@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Poppins:wght@400;500;600;700&family=Work+Sans:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}
/* General Styles */
body {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  overflow-x: hidden;

  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: justified;
}

.logo img {
  width: 132px;
  height: 42px;
}
nav {
  padding: 0 20px;
  line-height: 98px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.container {
  padding: 0 100px 0 100px;
  max-width: 100%;
  width: 1000px;
  background-color: #ffffff;
  width: 1440px;
  left: 0px;
  top: 202px;
  border-radius: 0px;
}

.generalflexselector {
  display: flex;
  justify-content: center;
  align-items: center;
}
/*Styling Last Updated*/
.last-updated {
  position: absolute;
  width: 271px;
  height: 10px;
  left: 95px;
  top: 215px;

  /* Web/Link Text */

  font-family: "Droid Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height, or 120% */

  text-align: center;

  /* Grey/Grey08 */

  color: #6f6f6f;
}
h1,
h3 {
  color: #408cc6;
}
p {
  opacity: 0.8;
}
ol li {
  opacity: 0.8;
}
/*Styling of the header*/
header nav {
  background-color: #408cc6;
  padding: 50px 30px 100px 50px;
}

@media (max-width: 720px) {
  .container {
    padding: 0 20px 0 20px;
  }
  .last-updated {
    height: 10px;
    left: 10px;
  }
}
