@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Poppins:wght@400;500;600;700&family=Work+Sans:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* General Styles */
body {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  overflow-x: hidden;

  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: justified;
}

.logo img {
  width: 132px;
  height: 42px;
}
nav {
  padding: 0 20px;
  line-height: 98px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.container {
  padding: 0 100px 50px 100px;
  max-width: 100%;
  width: 1000px;
  background-color: #ffffff;
  width: 1440px;
  left: 0px;
  top: 202px;
}

.generalflexselector {
  display: flex;
  justify-content: center;
  align-items: center;
}
/*Styling Last Updated*/
.last-updated {
  position: absolute;
  width: 271px;
  height: 10px;
  left: 95px;

  /* Web/Link Text */

  font-family: "Droid Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height, or 120% */

  text-align: center;

  /* Grey/Grey08 */

  color: #6f6f6f;
}
h1,
h3 {
  color: #408cc6;
  padding: 30px 0;
}
p {
  opacity: 0.8;
  text-align: justify;
}
ul li {
  opacity: 0.8;
  text-align: justify;
  margin-left: 40px;
}
/*Styling of the header*/
header nav {
  background-color: #408cc6;
  padding: 50px;
}
@media (max-width: 720px) {
  .container {
    padding: 0 20px 50px 20px;
  }
  .last-updated {
    left: 12px;
    padding-bottom: 20px;
  }
}

/*This is the css for scroll-to-top button*/
.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 0;
  border: none;
  background: url("../img/Scroll_Back_To_Top.png");
  border-radius: 0px 0px 0px 0px;
  background-size: 100%;
  cursor: pointer;
  margin-bottom: 15px;
  opacity: 0.9;
}
.scrolltopbtn {
  height: 60px;
  width: 60px;
}
