@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700 &family=Poppins&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    /* margin-top: 16px; */
    padding: 16px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;


}

.nav-aside {
    width: 15%;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
    box-shadow: 0 0 5px rgba(36, 24, 24, 0.1);
    padding: 15px;
    position: fixed;
    left: 16px;
}
.metlab-logo img {
    height: 42px;
    width: 145px;
}

.section-container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.head-section {
    width: 82%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    box-shadow: 0 0 10px rgba(36, 24, 24, 0.1);
    position: fixed;
    top: 16px;
    right: 16px;
    z-index: 50;
    background-color: white;
}
.profile-pic-name {
    display: inherit;
    justify-content: space-between;
    align-items: center;
    width: 10vw;
}
.profile-search {
    width: 20vw;
    height: 5vh;
    padding: 20px;
    background-color: #E5E5E5;
    border: none;
}
.profile-pic-name {
    display: inherit;
    justify-content: space-between;
    align-items: center;
    width: 12vw;
}
.bell-toggle {
    width: 6vw;
    display: inherit;
    justify-content: space-between;
    align-items: center;
}
/* BELL CUSTOM */
.fa_custom {
    color: #1A75BB;

}
.profile-pic img {
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 20px;
}

/* DROPDOWN */
.navbar {
    overflow: hidden;
    background-color: white;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color:  #1A75BB;;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #1A75BB;
    min-width: 50px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 22px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    color: #56CCF2;
    background-color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* DROPDOWN ENDS */

/* TOGGLE */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #E5E5E5;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 4px;
    bottom: 2px;
    background-color: #F6F6F5;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #56CCF2;
}

input:focus + .slider {
    box-shadow: 0 0 1px #56CCF2;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
/* TOGGLE */
span img:checked {
    background-color: #56CCF2;
}
hr {
    height: 2px;
    background-color: #E5E5E5;
    border: none;
    width: 100%;
}
.dash {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.dash-section {
    width: 100%;

}
.rate-us {
    width: 10vw;
    text-align: center;
    background-color: #EDF7FF;
}
.star {
    width: 15px;
}

/* MAIN FLOW  STARTS*/
.main-flow {
    width: 84%;
    height: 100vh;
    position: absolute;
    top: 120px;
    right: 0;
    box-shadow: 0 0 10px rgba(36, 24, 24, 0.1);
    display: flex;
    flex-direction: column;
}

.text-area {
    padding: 20px;
    box-shadow: 0 0 10px rgba(36, 24, 24, 0.1);
}

.text-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.top-right{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.top-right p{
    margin-right: 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    padding: 8px 16px;
    color: #8A8A8A;
}

.top-right p:hover{
    background: #EDF7FF;
    color: #408CC6;
    border-radius: 4px;
}

.below{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.day{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin-right: 20px;
}

.file-space{
    display: flex;
    flex-direction: row;
    padding: 20px 40px;
    justify-content: space-between;
    align-items: center;
}

.left{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.left .image{
    margin-right: 40px;
    background-color: rgba(216, 240, 219, 1);
    padding: 10px;
}

.left .image .vector{
    width: 100%;
}

.file-heading{
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 16px;
    color: #373737;
    margin-bottom: 10px;
}

.file-size{
    color: #8A8A8A;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 16px;
}

.right{
    display: flex;
    flex-direction: row;
}

.right .export{
    margin-right: 40px;
}

.right .share{
    margin-right: 40px;
}

.right a{
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 16px;
}

.right .button{
    background-color: #56CCF2;
    padding: 10px;
    color: #FFFFFF;
}

.bold-grey {
    color: #535353;
}

.light-gray {
    color: #6F6F6F;
    display: flex;
    gap: 2vw;
}

.light-gray a {
    text-decoration: none;
    color: #6F6F6F;
}
.light-gray:hover,
.light-gray:active,
.light-gray:focus {
    background-color: #EDF7FF;
    color: #56CCF2;
    transition: all 0.1s linear;
}
.light-gray a:hover,
.light-gray a:active,
.light-gray a:focus {
    background-color: #EDF7FF;
    color: #56CCF2;

}
