@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700 &family=Poppins&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    /* margin-top: 16px; */
    padding: 16px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    


}

.nav-aside {
    width: 15%;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
    box-shadow: 0px 2px 10px rgba(36, 24, 24, 0.1);
    border-radius: 4px;
    padding: 15px;
    position: fixed;
    left: 16px;
}
.metlab-logo img {
    height: 42px;
    width: 145px;
}

.section-container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.head-section {
    width: 82%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    box-shadow: 0px 2px 10px rgba(36, 24, 24, 0.1);
    border-radius: 4px;
    position: fixed;
    top: 16px;
    right: 16px;
    z-index: 50;
    background-color: white;
}
.profile-pic-name {
    display: inherit;
    justify-content: space-between;
    align-items: center;
    width: 10vw;
}
.profile-search {
    width: 20vw;
    height: 5vh;
    padding: 20px;
    background-color: #E5E5E5;
    /* border: 1px solid rgb(118, 197, 202); */
    border: none;
}
.search-bar{
    display: flex;
    justify-content: center;
    align-items: stretch;  
}
.search-forms{
   /* color: #555; */
  padding: 2px;
  border: 1px solid black;
  border-radius: 5px;

}
.search-button[type="submit"] {
    text-indent: -999px;
    overflow: hidden;
    width: 40px;
    height: 100%;
    
    padding: 0;
    margin: 0;
    border: 1px solid transparent;
    border-radius: inherit;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
    cursor: pointer;
    opacity: 0.7;
    
  }
  
  .search-button[type="submit"]:hover {
    opacity: 1;
    background-color: #E5E5E5;

  }
  
  .search-button[type="submit"]:focus,
  input[type="search"]:focus {
    box-shadow: 0 0 3px 0 #0b324e;
    border-color: #b6cfe0;
    outline: none;
  }
input::placeholder{
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 28px;
color: #7D8284;
}
.profile-pic-name {
    display: inherit;
    justify-content: space-between;
    align-items: center;
    width: 12vw;
}
.bell-toggle {
    width: 6vw;
    display: inherit;
    justify-content: space-between;
    align-items: center;
}
/* BELL CUSTOM */
.fa_custom {
    color: #1A75BB;

}
.profile-pic img {
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 20px;
}

/* DROPDOWN */
.navbar {
    overflow: hidden;
    background-color: white;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color:  #1A75BB;;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #1A75BB;
    min-width: 50px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 22px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    color: #56CCF2;
    background-color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* DROPDOWN ENDS */

/* TOGGLE */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #E5E5E5;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 4px;
    bottom: 2px;
    background-color: #F6F6F5;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #56CCF2;
}

input:focus + .slider {
    box-shadow: 0 0 1px #56CCF2;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
/* TOGGLE */
span img:checked {
    background-color: #56CCF2;
}
hr {
    height: 2px;
    background-color: #E5E5E5;
    border: none;
    width: 100%;
}
.dash {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.dash-section {
    width: 100%;

}
.rate-us {
    width: 100%;
    height: 152px;
    background: #EDF7FF;
    border-radius: 4px;
    
    /* Inside auto layout */
    
}

.rate-us p{
    
    width: 160px;
    height: 48px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 16px;
    
    /* Grey/Grey10 */
    
    color: #373737; 
}
.star {
    width: 25px;
    height: 25px;
    
}
.rates{
    display: flex;
    justify-content: space-around;
    margin:auto;
    padding: 0 10px;
}

/* MAIN FLOW  STARTS*/
.main-flow {
    width: 84%;
    
    position: absolute;
    top: 120px;
    right: 0;
    box-shadow: 0px 2px 10px rgba(36, 24, 24, 0.1);
    border-radius: 4px;
    display: flex;
    flex-wrap: wrap;
    background: #FAFAFA;


}
.upload-container {
    width: 645px;
    height: 412px;
    border-radius: 4px;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0px 2px 10px rgba(36, 24, 24, 0.1);
    border-radius: 4px;
    margin: 24px;
}

.upload-area{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 75px 120px;
    gap: 10px;
    margin-bottom: 40px;
    background: #EDF7FF;
    cursor: pointer;
    border: 3px dashed #1A75BB;
    border-radius: 4px;
}
.upload-area img{
    width: 50px;
    height: 50px;
}
.upload-area p{
    width: 440px;
    height: 28px;
     
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    align-items: center;
    text-align: center;
    color: #8A8A8A;
}
.upload-area p:hover{
    color:#1A75BB;
}

.extraction-button{
    margin: auto 180px;
    align-items: center;
    justify-content: center;

}

input.extract-button {
justify-content: center;
align-items: center;
background: #E1E1E1;
border-radius: 4px;
width: 230px;
margin: auto;
cursor: pointer;
border: none;

}
input.extract-button{
font-family: 'Droid Sans';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 16px;
color: #FFFFFF;
padding: 20px 31px;

}
input.extract-button:hover{
    /* color: #1A75BB; */
    background-color: #56CCF2;
}

.result-container{
    width: 645px;
    height: 674px;
    padding: 48px;
    background: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(36, 24, 24, 0.1);
    border-radius: 4px;
    margin: 24px;


}
.result-container h3{
width: 77px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 25px;
letter-spacing: -0.02em;
color: #6F6F6F;
}

.result-details{
    box-sizing: border-box;
    padding: 16px 0px;
    border-bottom: 1px solid #6F6F6F;
    margin-bottom: 16px;
}
.result-details p{
    width: 195px;
    height: 30px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
 
    letter-spacing: -0.02em;
    
    /* Grey/Grey07 */
    
    color: #8A8A8A;
     
    flex: none;
    order: 0;
    flex-grow: 0;
}

.result-buttons{
display: flex;
padding: 0px;
gap: 32px;
width: 408px;
height: 56px;

}
input.save-button{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;
width: 188px;
height: 56px;
background: #E1E1E1;
border-radius: 4px;
cursor: pointer;
border: 2px solid #E1E1E1;

}
input.save-button:hover{
    background-color: #56CCF2;
}

input.view-button{
box-sizing: border-box;
justify-content: center;
align-items: center;
padding: 10px;
width: 188px;
height: 56px;
border: 2px solid #E1E1E1;
border-radius: 4px;
cursor: pointer;

}

input.view-button:hover{
    background-color: #56CCF2;
}
input#save-result{
font-family: 'Droid Sans';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 16px;
align-items: center;
color: #FFFFFF;
}

input#save-result:hover{
    /* color: #1A75BB; */
}
input#view-result{
font-family: 'Droid Sans';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 16px;
align-items: center;

color: #7D8284;
}

input#view-result:hover{
    color: #EDF7FF;
}

/* MAIN ENDS  STARTS*/
.bold-grey {
    color: #535353;
}
.light-gray {
    color: #6F6F6F;
    display: flex;
    gap: 2vw;
}
.light-gray a {
    text-decoration: none;
    color: #6F6F6F;
}
.light-gray:hover,
.light-gray:active,
.light-gray:focus {
    background-color: #EDF7FF;
    color: #56CCF2;
    transition: all 0.1s linear;
}
.light-gray a:hover,
.light-gray a:active,
.light-gray a:focus {
    background-color: #EDF7FF;
    color: #56CCF2;

}
