@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Poppins:wght@400;500;600;700&family=Work+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f5f5f5;
  height: 100vh;
  font-family: "Work Sans";
  font-style: normal;
}

a {
  text-decoration: none;
}

.errorMessage {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;

  position: absolute;
  height: 100px;
  left: 100px;
  right: 906px;
  top: 180px;
}

.pageNotFound {
  /* Oops... Page not found */
  width: 434px;
  height: 80px;

  /* Header 1 */
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 40px;
  display: flex;
  align-items: center;
  letter-spacing: -0.02em;
  color: #408cc6;

  
}

.message {
  width: 434px;
  height: 72px;

  /* Web/Body big */
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  display: flex;
  align-items: center;
  letter-spacing: -0.02em;

  color: #8a8a8a;

}

.buttons {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;

  position: absolute;
  height: 56px;
  left: 100px;
  right: 895px;
  top: 400px;
}

.home {
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: #FFFFFF;
  width: 202.5px;
  height: 56px;
  background: #56ccf2;
  border-radius: 4px;
   border:none;
   font-family: "Work Sans";
   font-style: normal;
   font-weight: 700;
   font-size: 20px;
}

.support {
  box-sizing: border-box;

  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
 width: 202.5px;
  height: 56px;
 border: 2px solid #408CC6;
  border-radius: 4px;
  font-weight: 700;
font-size: 20px;
color: #408CC6;

}

.errorPad {
  position: absolute;
  
  right: 238px;
  top: 40px;

  /* background: url(errorPad.png); */
}
.errorPad img{
  width: 390px;
  height: 298px;
}

.errorCode img{
  width: 257px;
  height: 158px;
}

.errorCode {
  position: absolute;
  
  right: 290px;
  top: 320px;

  /* background: url(404signsmall.png) no-repeat; */
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .errorPad {
    display: none;
  }
  .errorCode {
    position: absolute;
    width: 270px;
    height: 170px;
    left: 104px;
    top: 107px;
    /* background: url(404signsmall.png) no-repeat; */
    background-size: cover;
  }
  .errorMessage {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 16px;

    position: absolute;
    height: 128px;
    left: 95px;
    right: -10px;
    top: 282px;

    text-justify: auto;
  }
.message{
  position: relative;
  left: -40px;
}
  .pageNotFound {
    width: 300px;
    height: 64px;

    /* Mobile/Header 0 */
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    align-items: center;
    text-align: center;
    letter-spacing: -0.01em;
    /* Blue/Blue05 */
    color: #408cc6;
    
  }

  .message {
    width: 300px;
    height: 48px;

    /* Mobile/Body text medium */
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    display: flex;
    align-items: center;
    text-align: center;

    /* Grey/Grey07 */
    color: #8a8a8a;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .home {
    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;

    position: absolute;
    width: 188px;
    height: 48px;
    left: calc(50% - 18px / 2 + 0.5px);
    top: 424px;

    /* maya blue */
    background: #56ccf2;
    border: 1px solid #56ccf2;
    border-radius: 4px;
  }

  .support {
    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;

    position: absolute;
    width: 188px;
    height: 48px;
    left: calc(50% - 18px / 2 + 0.5px);
    top: 504px;

    border: 2px solid #56ccf2;
    border-radius: 4px;
  }

  .buttons {
    /* Auto layout */
    display: block;
    flex-direction: column;
  
    position: absolute;
    left: calc(50% - 188px / 2 + 0.5px);
    top: 50px;
  }
}
