{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>{% block title %}Welcome to {% endblock %}</title>
  <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>


</head>
<body>
  <nav >
    <div >
    <a  href="/">Home</a>
    <div >
    {% if request.user.is_active %}
    <a  href="{% url 'profile'%}">Profile</a>
    <a href="{% url 'logout'%}">Log Out</a>
    {% else %}
    <a href="{% url 'signup' %}">Register</a>
    <a href="{% url 'login' %}">Log In</a>
    {% endif %}
    </div>
    </div>
  </nav>

  {% block content %}
  {% endblock %}


  

  <script src="{% static 'js/test.js' %}"></script> 

  </body>
</html>
