{% load static %}

<!DOCTYPE html>
<html lang="en">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}Welcome to {% endblock %}</title>
    
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap"
      rel="stylesheet"
    />
  
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" /> 
    <link
      href="{% static 'css/general.css' %}"
      type="text/css"
      rel="stylesheet"
    />

    <link rel="icon" href="{% static 'img/favicon-16x16-blue.png' %}">
    {% block css %}
    <link
      href="{% static 'css/style.css' %}"
      type="text/css"
      rel="stylesheet"
      media="screen,projection"
    />
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
  
    {% endblock %}
   
   
    <script type="text/javascript"  src="{% static 'js/general.js' %}"></script>
 
  </head>
  <body>
     {% if messages %}
    {% for message in messages %} 
    <div id="alert"  class="toast-wrapper">
      <div  id="toast-{{ message.tags }}">
          <div class="container-{{ message.tags }}">
              <i class="fas fa-check-square"></i>
          </div>
          <div class="container-{{ message.tags }}">
              <p>{{ message }}</p>
          </div>
          <button id="close-{{ message.tags }}" onclick="closeToastSuccess()">
              &times;
          </button>
      </div>
  </div>
     {% endfor %}
{% endif %} 
    {%block navbar%}
    <header>
      <nav>
        <div class="logo generalflexselector">
          <a href="/"><img src="{% static 'svg/Horizontal_Logo.svg' %}" /></a>
        </div>
        <ul class="nav-menu">
          <li><a href="/" class="nav-link">Home</a></li>
          <li><a href="" class="nav-link">About </a></li>
          <li><a href="{% url 'terms-conditions' %}" class="nav-link">Support</a></li>
          <li><a href="{% url 'dashboard' %}" class="nav-link">Meta Data</a></li>
          {% if request.user.is_authenticated %}
          <button class="dashboard-btn">Jane Doe</button>
            <div class="dropdown">
              <button class="dropbtn" type="button">
                <i class="fa fa-user" aria-hidden="true"></i>
              </button>
              <div class="dropdown-content">
                <a href="{% url 'dashboard' %}">Dashboard</a>
                <a href="#">Profile</a>

                <a href="{% url 'edit-profile' request.user.id %}">Settings</a>

                <a href="{% url 'profile' %}">Settings</a>

                <a href="{% url 'logout' %}">Log out</a>
              </div>
            </div>
          {% else %}
        
            <a href="{% url 'login' %}" class="login-btn nav-link">Login</a>
       
            <a href="{% url 'django_registration_register' %}" class="nav-link signup-btn">Sign Up</a>
          
          {% endif %}
         
         
        </ul>
        <div class="hamburger">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
      </nav>
    </header>
    <!--This is the end of header -->

   {% endblock %}
    {% block content %} {% endblock %}



    {% block footer %}
    <footer>
      <div class="footer-container">
        <div class="resourses generalflexselector">
          <img src="{% static 'svg/Horizontal_Logo.svg' %}" />
          <p>
            Extracting data quickly and effectively while providing accurate
            information about the data being extracted.
          </p>
        </div>
        <div class="resourses">
          <h6>RESOURCES</h6>
          <li><a href="{% url 'dashboard' %}">Getting Started</a></li>
          <li><a href="{% url 'documentations' %}">Documentation</a></li>
          <li><a href="">Status</a></li>
        </div>
        <div class="resourses">
          <h6>COMPANY</h6>
          <li><a href="">Aunthenticate</a></li>
          <li><a href="">Support</a></li>
          <li><a href="">Meta Data</a></li>
        </div>
      </div>
      <div class="footer-txt">
        <p>
          <a href="">Privacy</a> | <a href="">Website Terms of Use</a> |
          <a href="">Cookie Consent</a> | <a href="">COVID-19</a>
        </p>
        <p>© 2022 MetLab. All Rights Reserved</p>
      </div>
      <div class="social generalflexselector">
        <div class="icons">
          <i class="fa-brands fa-facebook-f"></i>
        </div>
        <div class="icons">
          <i class="fa-brands fa-instagram"></i>
        </div>
        <div class="icons">
          <i class="fa-brands fa-twitter"></i>
        </div>
      </div>
      <!-- This is the scroll to top button for  long pages -->
      <button class="scroll-to-top">
        <img
          class="scrolltopbtn"
          src="{% static 'img/Scroll_Back_To_Top.png' %}"
          alt="image"
        />
      </button>
    </footer>
    {% endblock %}
    <!--This is preloader -->
    <div class="loader">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
    </div>

    <script>
      let x;

      function showToastSuccess(){
          clearTimeout(x);
          document.getElementById("toast-success").style.transform = "translateX(0)";
          x = setTimeout(()=>{
            document.getElementById("toast-success").style.transform = "translateX(400px)"
          }, 4000);
      }
      showToastSuccess()
      function closeToastSuccess(){
        document.getElementById("toast-success").style.transform = "translateX(400px)";
      }
      
      
      function showToastError(){
          clearTimeout(x);
          document.getElementById("toast-error").style.transform = "translateX(0)";
          x = setTimeout(()=>{
              document.getElementById("toast-error").style.transform = "translateX(400px)"
          }, 4000);
      }
      showToastError()
      function closeToastError(){
        document.getElementById("toast-error").style.transform = "translateX(400px)";
      }
      
    </script>
   

    <script type="text/javascript"  src="{% static 'js/loader.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/index.js' %}"></script>
    {% block js %}
    
    {% endblock %}

  </body>
</html>
