{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}Welcome to {% endblock %}</title>
   {% block css %}
    <link
      href="{% static 'css/style.css' %}"
      type="text/css"
      rel="stylesheet"
      media="screen,projection"
    />
    {% endblock %}
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    {%block navbar%}
    <nav>
      <div>
        <a href="/">Home</a>
        <div>
          {% if request.user.is_active %}
          <a href="{% url 'profile'%}">Profile</a>
          <a href="{% url 'logout'%}">Log Out</a>
          {% else %}
          <a href="{% url 'signup' %}">Register</a>
          <a href="{% url 'login' %}">Log In</a>
          {% endif %}
        </div>
      </div>
    </nav>
 {% endblock %}
    {% block content %} {% endblock %}

    <script src="{% static 'js/test.js' %}"></script>
  </body>
</html>
