{% extends 'base.html' %}
{% load static %}

        
{% block content %}

<div >
    <form method="post" action="" role="form" >
    </h3>
      <div >
        {% csrf_token %}
        {{ form.id }}
        <h3>Change password</h3>
        <div >
          {{ form.old_password }}
          <label for="old_password">Old password</label>
        </div>
      </div>
        <div >
        <div >
          {{ form.new_password }}
          <label for="new_password">New password</label>
        </div>
      </div>
      <div >
        <div >
          {{ form.confirm_password }}
          <label for="password">Re-type password</label>
        </div>
      </div>
      <div >
        <div >
          >{{ form.errors }}</span>
        </div>
      </div>
      <button type="submit" name="action">Change Password</button>
    </form>
  </div>

{% endblock %}
{%block footer %}
{%endblock%}