
{% extends 'base.html' %} 
{% load static %}
<title>{% block title %}Dashboard{% endblock %}</title>
{% block css %}<link rel="stylesheet"  href="{% static 'css/dashboard.css' %}" /> {% endblock %}


{%block navbar%} {% endblock %}
{% block content %}

       

        {% include 'side_menu.html' %}
       <main class="section-container">
          {% include 'top_menu.html' %}
         <div class="main-flow-flex">
           <section class="main-flow">
               <div class="upload-container">
                 <!-- <div class="upload-area">
                   <img src="./cloud-plus.svg" alt="">
                   <p>Drag and drop a file here or click to upload</p>
                 </div> -->
                 <form method="post" enctype="multipart/form-data" class="dropzone">
                  {% csrf_token %}
                  
                 <div class="upload-area">
                   <div class="icon"><img class="cloud-icon" src="{% static 'svg/cloud-plus.svg' %}" alt=""></div>
                   <p> Drag & Drop to Upload File or</p>
                   {{ form.file.errors }}
                    {{ form.file }}
                  
                   
                 </div>
                 <script src="profile.js"></script>
                 <div class="extraction-button">
                  <input class="extract-button" type="submit" value="Extract Metadata">           
                 </div>
               </div>
              </form>
                {% if new_data %}
                 <div class="result-container">
                   <h3>Result</h3>
                  
                
                  {% for key, value in new_data.exif.items %}
                  <div class="result-details">
                    <p>{{ value.desc }}:  <span>{{ value.val }}<span></p>
                  </div>
                  {% endfor %}
           
                 
                  
                   <div class="result-buttons">
                    <div class="save-button share-link-div"   >
                      <button class="share-button ">Share</button>
                      <div class="popup">
                        <section class="share-header">
                          <span>Share File</span>
                          <div class="close"><i class="uil uil-times"></i></div>
                        </section>
    
                          <div class="content">
                            <p>Copy link to share file</p>
                            <div class="field">
                              <i class="url-icon uil uil-link"></i>
                              <input type="text" readonly value="" />
                              <a class="shareLink" href="{% url 'share' new_data.id %}"><button class="copy-button"> Copy</button></a>
                            </div>
                          </div>
                        </div>
                      </div>
                  
                     <a class="view-button" id="save-result"  href={{ new_data.get_absolute_url}}>Download</a>
                   </div>
                 </div>
                 
                 {% endif %}
              
           </section>
           <section class="right-side">
             <h3>History</h3>
             <div class="day"><p>Today</p></div>
             {% for file in file_list %}
             <a href="{{ file.get_absolute_url}}?q=view" rel="noopener" target="_blank">
             <div class="history-data">
              <div class="mtdata-img"><img src="{% static 'img/Vector.png' %}" alt=""></div>
              <div class="mtdata">
                <span>{{ file.file_name }}</span>
                <p>107 kb</p>
              </div>
            </div>
          </a>
            {% comment %} <div class="history-data">
              <div class="mtdata-img1"><img src="{% static 'img/Vector1.png' %}" alt=""></div>
              <div class="mtdata">
                <span>Nigerian Map.csv</span>
                <p>107 kb</p>
              </div>
            </div>
            <div class="history-data">
              <div class="mtdata-img2"><img src="{% static 'img/Vector2.png' %}" alt=""></div>
              <div class="mtdata">
                <span>Nigerian Map.mp3</span>
                <p>107 kb</p>
              </div>
            </div>
            <div class="history-data">
              <div class="mtdata-img3"><img src="{% static 'img/Vector1.png' %}" alt=""></div>
              <div class="mtdata">
                <span>Nigerian Map.json</span>
                <p>107 kb</p>
              </div>
            </div>
            <div class="history-data">
              <div class="mtdata-img4"><img src="{% static 'img/Vector4.png' %}" alt=""></div>
              <div class="mtdata">
                <span>Nigerian Map.pdf</span>
                <p>107 kb</p>
              </div>
            </div>
             <li>
                
             </li> {% endcomment %}
             {% endfor %}
             
           </section>
         </div>
       </main>


       <script>
         const shareLink = document.querySelectorAll(".shareLink")
         const viewBtn = document.querySelector(".share-button"),
         popup = document.querySelector(".popup"),
         close = popup.querySelector(".close"),
         field = popup.querySelector(".field"),
         input = field.querySelector("input"),
         copy = field.querySelector("button");
        
         
         shareLink.forEach(share => {
           share.addEventListener('click', function (event) {
              event.preventDefault()
              input.value = share.href
            
        
           });
         });
      
         
 
       viewBtn.onclick = () => {
         popup.classList.toggle("show");
         input.value = shareLink[0].href
       };
       close.onclick = () => {
         viewBtn.click();
       };
 
       copy.onclick = () => {
         input.select(); //select input value
         if (document.execCommand("copy")) {
           //if the selected text copy
           field.classList.add("active");
           copy.innerText = "Copied";
           setTimeout(() => {
             window.getSelection().removeAllRanges(); //remove selection from document
             field.classList.remove("active");
             copy.innerText = "Copy";
           }, 3000);
         }
       };
      </script>
{% endblock %}
{% block footer %}
{% endblock %}
{% block js %}
<script type="text/javascript"  src="{% static 'js/dashboard.js' %}"></script>
 
{% endblock %}
