{% extends 'base.html' %}
  {% block content %}
  {% load static %}
    <header>
        <nav>
          <div class="logo generalflexselector">
            <img src="{% static img/Home-Images/Horizontal Logo.svg %}" alt="" />
          </div>
          <!--This is for Mobile-->
          <div id="toogle-nav-list" class="nav__mobile-list">
            <ul>
              <li><a href="">Home</a></li>
              <li><a href="">Privacy</a></li>
              <li><a href="">Contact</a></li>
              <li><a href="">Upload</a></li>
            </ul>
            <button class="login-btn"><a href="">Login</a></button>
            <button class="signup-btn"><a href="">Sign Up</a></button>
          </div>

          <!--This is the end of Mobile -->
          <ul class="nav__list btn">
            <li><a href="">Home</a></li>
            <li><a href="">About </a></li>
            <li><a href="">Support</a></li>
            <li><a href="">Meta Data</a></li>
          </ul>
          <div class="nav-btn">
            <button class="login-btn"><a href="">Login</a></button>
            <button class="signup-btn"><a href="">Sign Up</a></button>
          </div>
          <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
          </div>
        </nav>
      </header>
  {% endblock content %}