{% extends 'base.html' %}
{% load static %}

        
{% block content %}

<div>
<div>
    <div>
      <div >
        <div>
          {% if profile.picture %}
          <a href="{{ profile.get_absolute_url }}"><img id="img-circle-custom-profile" src="{{ profile.picture.url }}"></a>
          {% else %}
         
          {% endif %}
          <h1  >{% if profile.first_name %}{{ profile.first_name }} {{ profile.last_name }}{% endif %}</h1>
          <p>Logged in as {{ request.user }}.</p>
        <p><a href="{% url "logout" %}">Log Out</a></p>
        </div>




        <div>

          {% if user.is_authenticated and user == profile.user %}
          <a href="{% url 'edit-profile' %}">Edit Profile</a>
          {% endif %}

        	{% if profile.location %}
          <h6 >Location:</h6>
        	<span>{{ profile.location }}</span>
          {% endif %}

          {% if profile.url %}
        	<h6 >URL:</h6>
        	<span>{{ profile.url }}</span>
          {% endif %}

          {% if profile.profile_info %}
        	<h6 >BIO:</h6>
        	<span>{{ profile.profile_info }}</span>
          {% endif %}
          
        </div>
        
    </div>
  </div>

{% endblock %}
