{% extends 'base.html' %}
{% load static %}

        
{% block content %}

<div>
    <form method="post" action="" role="form">
    {% csrf_token %}
    <h3>Create an account</h3>
      <div >
        <div>
          {{ form.username }}
          <label for="Username">Username</label>
        </div>
      </div>
      <div >
        <div>
          {{ form.email }}
          <label for="email">Email</label>
        </div>
      </div>
       <div>
        <div>
          {{ form.password }}
          <label for="password">Password</label>
        </div>
      </div>
      <div >
        <div>
          {{ form.confirm_password }}
          <label for="password">Re-type password</label>
        </div>
      </div>
      <div >
        <div>
          <span>{{ form.errors }}</span>
        </div>
      </div>
      <button type="submit" name="action">Create account</button>
    </form>
  </div>

{% endblock %}