{% load static %}



<section class="head-section">
  <div class="hello">
      <h3 class="bold-grey">Hello 
        {% if request.user.username %}
  {{ request.user.username}}
  {% else %}
  {{ request.user.email }}
  {% endif %}
      </h3>
      <p>Welcome!</p>
    </div>
    <div class="search-bar">
      <form class="search-forms" action="">
        <button class="search-button" type="submit">Search</button>
        <input type="search" name="" id="" title="#" class="profile-search"  placeholder="Search here" />
      </form>
    </div>
    <div class="bell-toggle">
      <div>
        <img src="{% static 'svg/notification.svg' %}" alt="">
      </div>
      <div>
        <label class="switch">
          <input type="checkbox" title="#" />
          <span class="slider round"></span>
        </label>
      </div>
    </div>
    <div class="profile-pic-name">
      <div class="profile-pic">
        {% if request.user.profile.picture  %}
        <img src="{{ request.user.profile.picture.url }}" alt="" />
        {% else %}
  
        <img src="{% static 'img/user_photo.png' %}" alt="profile image" />
        {% endif %}
        <p class='bold-grey'>
            {% if request.user.username %}
  {{ request.user.username}}
  {% else %}
  {{ request.user.email }}
  {% endif %}
        </p>
        </div>
    
        <div class="navbar">
          <div class="dropdown">
            <button class="dropbtn" type="button" title="">
            <img src="{% static 'svg/arrow-down.svg' %}" alt=""> </button>
            <div class="dropdown-content">
              <a href="{% url 'dashboard' %}">Dashboard</a>
              <a href="{% url 'profile' %}">Profile</a>
              <a href="{% url 'save-page' %}">Saved Data</a>
              <a href="{% url 'edit-profile' request.user.id %}">Settings</a>
              <a href="{% url 'contact' %}">Support</a>
              <a href="{% url 'logout' %}">Log out</a>
            </div>
          </div>
        </div>
     
    
</section>