{% extends 'base.html' %} 
{% load static %}
<title>{% block title %}Email Verified{% endblock %}</title>
{% block css %}<link rel="stylesheet"  href="{% static 'css/styles_email_verified_success.css' %}" /> {% endblock %}


{%block navbar%} {% endblock %}
{% block content %} 

<img src="{% static 'svg/wgewrnet_1.svg' %}" alt="email verified" />
    <div class="main-section">
      <div class="top-section">
        <h3>Congratulations, you're verified</h3>
      </div>
      <div class="middle-section">
        <p>
          Thank you for your support, we have successfully verified your email
          address. You can proceed to your home page.
        </p>
      </div>
      <a href="{% url "login" %}"><button>Log In</button></a>
    </div>

{% endblock %}

{%block footer %}
{%endblock%}